@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
html {
  @apply h-full;
}
body {
  @apply bg-zinc-900 h-full;
}

@layer base {
  input {
    @apply block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-red-main appearance-none text-white dark:border-red-main dark:focus:border-red-main focus:outline-none focus:ring-0 focus:border-red-main;
  }
  label {
    @apply peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-main peer-focus:dark:text-red-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6;
  }
}
@layer components {
  .btn-danger {
    @apply focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-lg px-5 py-2.5 mr-2 mb-2 w-full mt-[15px] dark:bg-red-main dark:hover:bg-red-700 dark:focus:ring-red-900;
  }
  .btn-danger-bordered {
    @apply text-red-main hover:text-white border-2 border-red-main hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-main dark:text-red-main dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900;
  }
}

* {
  box-sizing: border-box;
}

body {
  /* font-family: "Poppins", "sans-serif"; */
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 0px #28292d inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #ec4949;
}
::-webkit-scrollbar-thumb {
  background-color: #000;
  border: 3px solid transparent;
  border-radius: 5px;
  background-clip: content-box;
}